.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75)
}

.ReactModal__Overlay .close{
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.new-task-modal{
    width: 400px;
}
.edit-project-modal{
    width: 50%;
    max-width: 500px;
}

.edit-project-modal div.card div.col-md-6{
    flex: 1;
}

@media (min-width: 768px){
    .edit-project-modal div.card div.col-md-6{
        flex: 1 !important;
        max-width: 100% !important;
    }
}